.bgvideo { 
    height: 70vh; /*высота контейнера с видео(с.57, 3:23:51)*/
    width: 100%; /*ширина контейнера с видео(с.57, 3:23:51)*/
    position: relative;
    display: flex; /*для div(49) c классом bgvideo указываем display: flex;, чтобы применить 
    свойства(слои) z-index: 1;(19) у видео и z-index: 2;(35) у текста(35)(с.58, 3:25:43)*/
    justify-content: center; /*отцентруем надпись в теге h1(53)по центру видео(c.58, 3:26:47)*/
    align-items: center;
}

.bgvideo video{ /*обратимся к видео(с.55, 3:22:10)*/
    height: 70vh; /*высота видео 70% от экрана просмотра(с.55, 3:22:41)*/
    width: 100%; /*ширина видео 100% от ширины родительского контейнера(с.55, 3:22:41)*/
    position: absolute;/*чтобы видео начиналось с верхнего левого угла указываем
    position: absolute; top: 0;(15) и left: 0;(16)(с.57, 3:24:09)*/
    top: 0;
    left: 0;
    object-fit: cover; /*центрируем видео по контейнеру с классом bgvideo(с.58, 3:25:01)*/
    z-index: 1; /*указываем z-index: 1; у видео(50)(с.58, 3:25:43)*/
}

.effect{ /*обращаемся к тегу div c классом effect(51)*/
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 2; /*указываем z-index: 2;, чтобы он был наравне с текстом(35)(с.59, 3:27:31)*/
    background-color: rgba(0, 0, 0, 0.363); /*затемняем фон у видео(50)(с.59, 3:28:27)*/
}

.video-text{
    color: aquamarine; /*цвет надписи в теге h1(53)(с.58, 3:25:43)*/
    z-index: 2; /*указываем z-index: 2; у текста(53)(с.58, 3:25:43)*/
}
